*{
    box-sizing:border-box;
    padding: 0;
    margin: 0px;
}

body{
    background-color: #ece8d9;
    height: 100vh;
}
*{
    margin: 0;
    padding: 0;
  }

  nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    font-family: "Cormorant Garamond", serif;
    font-size: 1.25em;
  }
  .close{
    background-color: #ece8d9;
  }
  nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav li{
    height: 50px;
  }
  nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
  }
  nav a:hover{
    background-color: #f0f0f0;
  }
  nav li:first-child{
    margin-right: auto;
  }
  .sidebar{
    position: fixed;
    top: 0; 
    right: 0;
    height: 100vh;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.55);

    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 2S ease;
  }
  .sidebar li{
    width: 100%;
    font-family: "Cormorant Garamond", serif;
  }
   li img{
    width: 75px;
  }
  .sidebar a{
    width: 100%;
  }
  .menu-button{
    display: none;
  }
  @media(max-width: 800px){
    .hideOnMobile{
      display: none;
    }
    .menu-button{
      display: block;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }


.header{
   
    height: 750px;
    

    
}
.header-container{
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../assets/FoodBright1.jpg);
    background-
    background-position: center;
    background-size: cover;
  
}


 .header-nameinfo h1 , .header-nameinfo p{
    text-align: center;
    color: #fffdf6;
}
.header-nameinfo p{
    font-family: "Cormorant Garamond", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.5em;
  color: #ece8d9;
  
}
.header-nameinfo h1{
    font-family: "Cardo", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 4.5em;
    color: #ece8d9;
}
.button {
    text-align: center;
    padding-top: 30px;
}
.header-nameinfo button{
    width: 100px;
    height: 40px;
    color: #494949;
    border-radius: 5px;
    border: 0;
    background-color: #ece8d9;

}

.about-us{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutus-container{
   /* display: grid;
    grid-template-columns: 1fr 2fr; */
    color: #494949;
    width: 60%;
    
}
/*.about-us .aboutus-photo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-us .aboutus-photo img{
    height: 350px;
    width: 100%;
    object-fit: cover;
}
*/
.about-us h2{
    font-family: "Cardo", serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}
.about-us p{
    font-family: "Cormorant Garamond", serif;
    font-weight: 200;
    font-style: normal;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.5em;
}

.map{
    margin-top: 50px;
}

.map h2{
    text-align: center;
    margin-bottom: 30px;
    font-family: "Cardo", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5em;
}
.map h3{
    font-family: "Cardo", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5em;
}
.map a{
    color: #494949;
    text-decoration: none;
    font-size: 2.2em;
}
.map p{
    font-family: "Cormorant Garamond", serif;
    font-weight: 200;
    font-style: normal;
}
#Reminder{
    font-size: 1em;
    font-style: italic;
    
}
.map-container{
    display: grid;
    grid-template-columns: 1fr 1fr; column-gap: 25px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border-left: 2px solid #494949;
}
.mapself{
    display: flex;
    justify-content: center;
    align-items: center;
}


.fotogallery{
    height: 250px;

}
.fotogallery h3{
    font-family: "Cardo", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}
.gallery-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.gallery-container img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.gallery-container .img{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50px;
    background-color: #faf6e9;
    margin-top: 50px;
}

.Hamburger{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 50px;
    display: none;
}



@media (min-width:576px) and (max-width:768px) {
    #Reminder{
        font-size: 0.75em;
    }
}

@media (max-width:576px) {
    .MapWidth{
        width: 150px;
        height: 150px;
    }
    #Reminder{
        font-size: 0.65em;
    }
    .ShowBig{
        display: none;
    }
    .Hamburger{
        display: inline;
    }
}